{
  "isEnterprise": "<%= isEnterprise ? "true" : "false" %>",
  "extends": "../../tsconfig.json",
  "compilerOptions": {
    "lib": ["es5", "es6", "DOM"],
    "target": "es5",
    "module": "commonjs",
    "moduleResolution": "node",
    "baseUrl": "../",
    "outDir": "./build",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "sourceMap": true,
    "noEmitHelpers": false,
    "noImplicitAny": false,
    "noUnusedLocals": false,
    "strictNullChecks": false,
    "esModuleInterop": false,
    "suppressImplicitAnyIndexErrors": true,
    "noImplicitReturns": false,
    "isolatedModules": true,
    "keyofStringsOnly": true,
    "paths": {
      "@crusher-shared/*": ["crusher-shared/*"],
      "@constants": ["crusher-server/src/constants.ts"],
<% if(isEnterprise){ %>
    "@modules/*": ["crusher-server/src/ee/modules/*", "crusher-server/src/modules/*"],
    "@utils/*": ["crusher-server/src/ee/utils/*","crusher-server/src/utils/*"]
<% } else { %>
    "@modules/*": ["crusher-server/src/modules/*"],
    "@utils/*": ["crusher-server/src/utils/*"]
<% } %>
    }
  },
  "typeRoots": ["node_modules/@types"],
  "files": ["src/app.ts"],
  "include": ["./src/**/*"],
  "exclude": ["node_modules", "**/*.spec.ts"],
  "skipLibCheck": true
}

