@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 1px;
}

body {
	cursor: inherit;
	font-size: 16rem;
}

body {
	cursor: default;
}

.sb-show-main.sb-main-padded {
	transform-origin: left top 0;
}

.sbdocs-wrapper {
	background: #181717 !important;
}
